@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
@font-face {
    font-family: "Inter";
    font-style: normal;
    src: url(/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "AveriaGruessaLibre";
    font-style: normal;
    src: url(/public/fonts/Averia_Gruesa_Libre/AveriaGruesaLibre-Regular.ttf);
}

:root {
    --Text: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --Logo: "AveriaGruessaLibre", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@layer components {
    .PortailAssos /* for 'Portail des Assos' */
    {
        font-family: AveriaGruessaLibre;
        font-size: 32px;
    }

    .Title {
        font-family: Inter;
        font-weight: 700;
        font-size: 24px;
    }


    .ParagraphTitle {
        font-family: Inter;
        font-weight: 700;
        font-size: 20px;
    }

    .Paragraph {
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
    }

    .Small /* small text */ 
    {
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
    }


    .Buttons {
        font-family: Inter;
        font-size: 20px;
    }

    .ButtonSmall {
        font-family: Inter;
        font-size: 16px;
    }
}

@layer base {
    body {
        line-height: inherit;
        font-family: var(--Text);
    }
}

/* Message Bar */
.slide {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.slide span {
    padding-left: 100%;
    animation-name: slide;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    will-change: transform;
}

.slide:hover span {
    animation-play-state: paused;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
